*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.navbar{
    background-color: rgb(39, 231, 180);
   
    
}
.navbar ul li a{
    color: white;
    font-weight: 600;
    font-size: 18px;
}

.menu-header h1::first-letter{
    color: rgb(251, 170, 170);
}

.contact::first-letter{
   color: rgb(251, 170, 170);
}
